<div class="user_info">
  <a href="<%= user_path(current_user) %>">
    <span class="user_name">
      <%= current_user.name %>
    </span>
    <span class="questions">
      <%= pluralize(current_user.questions.count, "question") %>
    </span>
  </a>
</div>

